name: Run Script

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run automation script
      run: |
        chmod +x your_script.sh safe_program.sh
        bash your_script.sh
